.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media only screen and (max-width:515px) {
  .container {
    flex-direction: row;
  }
  .container>* {
    flex: 1 1;
  }
}